extends layout

block content
  .row
    .small-12.columns
      .button#garage Toggle Garage

  script.
    var pi = io.connect('http://aletty.herokuapp.com/pi');
    pi.on('connect', function(){
      console.log('connected');
    });

    $('#garage').click(function(){
      pi.emit('garage');  
    });