doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")

    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    script(src='/javascripts/vendor/custom.modernizr.js')
      
  body
    nav.top-bar
      ul.title-area
        li.name
          h1
            a(href='/') Aletty Garage
        li.toggle-topbar.menu-icon
          a(href='#')
            span
      section.top-bar-section
        ul.right
          li
            if !user
              a(href='/login') Log In
            else
              a(href='/logout') Log Out
    block content
    script(src='/javascripts/vendor/jquery.js')    
    script(src="/javascripts/foundation.min.js")
    script.
      $(document).foundation();