doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")

    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    script(src='/javascripts/vendor/custom.modernizr.js')
      
  body.offcanvas
    nav.top-bar
      ul.title-area
        li.name
          h1
            a(href='/') Aletty Garage
        li.toggle-topbar.menu-icon
          a(href='#')
            span
      section.top-bar-section
        ul.right
            if !user
              li
                a(href='/register') Register
              li.divider 
              li
                a(href='/login') Log In
            else
              li.has-dropdown
                a(href='#') #{user.name}
                ul.dropdown
                  li
                    a(href='/logout') Log Out

    .row#notifications
    script(src='/javascripts/vendor/jquery.js')    
    script(src="/javascripts/foundation.min.js")
    script(src='/socket.io/socket.io.js')
    block content
    if (user)
      script.
        var notify = io.connect('http://aletty.herokuapp.com/notify');

        notify.on('connect', function() {
          console.log('connected');
          notify.emit('user', {name: '#{user.username}'});
        });

        notify.on('update', function(data) {
          console.log(data);
          if (data.type == 'info'){
            $('#notifications').append('<div class="small-12 columns"><div data-alert class="alert-box secondary">'+ data.notification +'<a href="#" class="close">&times;</a></div></div>');
          }
          if (data.type == 'warning'){
            $('#notifications').append('<div class="small-12 columns"><div data-alert class="alert-box alert">'+ data.notification +'<a href="#" class="close">&times;</a></div></div>');
          }
          if (data.type == 'success'){
            $('#notifications').append('<div class="small-12 columns"><div data-alert class="alert-box success">'+ data.notification +'<a href="#" class="close">&times;</a></div></div>');
          }
          if (data.type == 'garage'){
            $('#garage').toggleClass('alert');
          }
        });

    script.
      $(document).foundation();