extends layout

block content
  form(action="/login", method="post")
    .row
      .small-12.columns
        h3 Log In
    .row
      .small-12.large-6.columns
        input(type="text", name="username", placeholder="Username")
    .row
      .small-12.large-6.columns
        input(type="password", name="password", placeholder="Password")
    .row
      .small-12.columns
        button(type="Submit") Log In